.header {
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /*flex-shrink: 1;*/
    justify-content: space-around;
    background-image: none;
    width: 100%;
}


.headerFlexLeftContainer{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.headerFlexRightContainer{
    display: flex;
    /*justify-content: space-between;*/
    width: 25%;
    align-items: center;
    justify-content: flex-end;


}

.logo {
    display: block;
    height: 43px;
    width: 25%;
    color: #5a668c;
    font-weight: 300;
    margin-top: -10px;
    font-size: 34px;
    background: url('../../../public/icons/logo.svg') 0 center/40px no-repeat;
    padding-left: 25px;
    line-height: 60px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-align: center;
}

.logo span {
    font-weight: 600;
    color: var(--header-logo-color-1);
}

.header a:any-link {
    cursor: pointer;
}