.headerButtonAuth{
    /*padding: 0 40px;*/
    transition: .3s;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    background-color: #2b4d8d;
    color: white;
    font-size: 15px;
    width: 9vw;
}