@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
nav {
    position: relative;
    background: var(--movies-bg-color);
    font-weight: 400;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav .item {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    padding: 0 2px;
    cursor: pointer;
    z-index: 5;
    min-width: 10%;
    height: 36px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: var(--movies-card-text-title-color);
}

/*.underline {*/
/*    height: 6px;*/
/*    background: var(--movies-card-text-mainTitle-color);*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 25%;*/
/*    z-index: 2;*/
/*    pointer-events: none;*/
/*    transition: 0.35s;*/
/*}*/

/*nav .item:hover > .dropdown > div {*/
/*    transform: translate(0);*/
/*}*/

/*nav .item:nth-child(1):hover ~ .underline {*/
/*    transform: translate(0, 0);*/
/*}*/

/*nav .item:nth-child(2):hover ~ .underline {*/
/*    transform: translate(100%, 0);*/
/*}*/

/*nav .item:nth-child(3):hover ~ .underline {*/
/*    transform: translate(200%, 0);*/
/*}*/

/*nav .item:nth-child(4):hover ~ .underline {*/
/*    transform: translate(300%, 0);*/
/*}*/
