

.mainMoviesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 25px;
    column-gap: 0;
    /*padding: 15px;*/
    justify-items: center;
    align-items: center;

    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 20px;*/

    /*align-content: center;*/
    /*justify-content: center;*/
    /*gap: 24px;*/
    /*flex-wrap: wrap;*/
}

@media (max-width: 1200px) {
    .mainMoviesContainer {
        grid-template-columns: repeat(4, 1fr);
        /*padding: 10px;*/
    }
}

@media (max-width: 992px) {
    .mainMoviesContainer {
        grid-template-columns: repeat(3, 1fr);
        /*padding: 7px;*/
    }
}

@media (max-width: 768px) {
    .mainMoviesContainer {
        grid-template-columns: repeat(2, 1fr);
        /*padding: 5px;*/
    }
}

@media (max-width: 576px) {
    .mainMoviesContainer {
        grid-template-columns: 1fr;
        /*padding: 2px;*/
    }
}