.movieCard{

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;

    position: relative;
    width: 95%;
    height: 450px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: var(--movies-bg-color);
}
.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
}
.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}
.movieCard:hover .poster::before {
    bottom: -25px;
}
.movieCard:hover .poster img {
    transform: scale(1.1);
}
.poster img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}


.details {
    position: absolute;
    bottom: -125%;
    left: 0;
    width: 100%;
    /*height: auto;*/
    padding: 0.5em 1.5em 1em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
    height: 100%;
}

.movieCard:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 500;
}

.details h1 {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 7px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
    align-items: center;
}


.details .rating span {
    margin-left: 0.25em;
}

.details .genres {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
    flex-wrap: wrap;

}

.details .genres span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);

    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.4;
    margin-bottom: .8em;
    font-size: .75em;
}

.movieTitle{
    /*position: absolute;*/
    width: 185px;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    font-weight: 600;
    font-size: 15px;
     white-space: nowrap;
    color: var(--movies-card-text-mainTitle-color);


}
.movieTitleOrig{
    color: var(--movies-card-text-title-color);
    font-size: 11px;
    margin: 0 3px;
}
.movieTitleContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
