.wrap {
    /*min-width: 388px;*/
    /*width: 75%;*/
    padding: 80px 0 40px;
    position: relative;
}

.wrapMain {
    /*max-width: 40%;*/
    max-width: 1300px;
    background-color: var(--bg-color-1);
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    margin: 0 auto;
    z-index: 20;
    position: relative;
}


@media (max-width: 1200px) {
    .wrapMain {
        max-width: 1100px;
    }
}

@media (max-width: 992px) {
    .wrapMain {
        max-width: 990px;
    }
}

@media (max-width: 768px) {
    .wrapMain {
        max-width: 750px;
    }
}

@media (max-width: 576px) {
    .wrapMain {
        max-width: 550px;
    }
}

